/* Font families */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/* my css default starter code */
body {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);
}

img {
    width: 100%;
}

/* logo and try it button content */

#logo-try-container {
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 90%;
}

#try-it-button {
    margin-left: auto;
}

#try-it-button button {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    outline: none;
}

/* intro to project landing page  */

.intro-container {
    width: 90%;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}

.intro-container h1 {
    font-size: 37px;
}

#intro-text {
    width: 40%;
    margin: auto;
}

#intro-text p {
    margin-top: 20px;
}

.get-started-button-container {
    margin-top: 40px;
}

.get-started-button-container button {
    padding: 25px 90px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

.get-started-button-container button:hover {
    opacity: 0.9;
}

/* demo image sketch */
#demo-image-container {
    width: 90%;
    margin: auto;
    margin-top: 90px;
}

#demo-image-container img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

/* communities and messages */

#grid-container {
    width: 90%;
    margin: auto;
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#grid-container img {
    width: 15%;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-container {
    width: 50%;
    margin: auto;
}

.icon-container h1 {
    font-size: 70px;
    text-align: center;
}

.icon-container p{
    font-size: 18px;
    text-align: center;
    color: lightgray;
}

/* grow together section */

.grow-together-body {
    margin-top: 90px;
}

.topimg {
    display: block;
}

#grow-together-container {
    background-color: hsl(207, 100%, 98%);
    vertical-align: top;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.design-img {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin-top: 17%;
    margin-left: 10%;
}

/* Flowing conversations section */

#flowing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
}

/* Users section */

.users-container {
    margin-top: 200px;
}

.users-bottom-img {
    transform: scaleX(-1)
}



