/* Font families */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/* my css default starter code */
body {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);
}

img {
    width: 100%;
}

/* logo and try it button content */

#logo-try-container {
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 90%;
}

#try-it-button {
    margin-left: auto;
}

#try-it-button button {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    outline: none;
}

#try-it-button button:hover {
    color: black;
    background-color: hsl(322, 100%, 66%);
    transition: all 0.2s ease;
}

/* intro to project landing page  */

.intro-container {
    width: 90%;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}

.intro-container h1 {
    font-size: 37px;
}

#intro-text {
    width: 40%;
    margin: auto;
}

#intro-text p {
    margin-top: 20px;
}

.get-started-button-container {
    margin-top: 40px;
}

.get-started-button-container button {
    padding: 25px 90px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

.get-started-button-container button:hover {
    opacity: 0.9;
}

/* demo image sketch */
#demo-image-container {
    width: 90%;
    margin: auto;
    margin-top: 90px;
}

#demo-image-container img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

/* communities and messages */

#grid-container {
    width: 90%;
    margin: auto;
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#grid-container img {
    width: 15%;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-container {
    width: 50%;
    margin: auto;
}

.icon-container h1 {
    font-size: 70px;
    text-align: center;
}

.icon-container p{
    font-size: 18px;
    text-align: center;
    color: lightgray;
}

/* grow together section */

.grow-together-body {
    margin-top: 90px;
}

.topimg {
    display: block;
}

.grow-together-container {
    background-color: hsl(207, 100%, 98%);
    vertical-align: top;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.design-img {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin-top: 17%;
    margin-left: 10%;
}

/* Flowing conversations section */

#flowing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
}

.flowing-text {
    width: 75%;
}

/* Users section */

.users-container {
    margin-top: 200px;
}

.users-bottom-img {
    transform: scaleX(-1)
}


/* footer */

.footer-img-container {
    margin-top: 200px;
}

.footer-img-container img {
    display: block;
}

footer {
    vertical-align: top;
    background-color: hsl(192, 100%, 9%);
}

.footer-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-container {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.footer-logo {
    display: block;
    width: 50%;
}

.footer-text {
    height: 100px;
    width: 80%;
}

.footer-text p {
    color: white;
}

.sub-grid-container {
    display: grid;
    grid-template-columns: .2fr 1fr;
}

.sub-container {
    margin-top: 20px;
}

.phone-icon {
    width: 30%;
}

.contact-info p {
    color: white;
    margin: 0;
}

.email-container {
    margin-top: 10px;
}

/* social media icons */
.social-media-container {
    margin-top: 75px;
    display: flex;
}

.social-container {
    margin-left: 10px;
}

.fa {   
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  padding: 20px 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/* container two (right side of footer) */
.footer-container-two {
    width: 70%;
}

.logo-newsletter-container h2 {
    color: white;
}

.input-form {
    width: 100%;
}

.input-form input {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-form button {
    width: 120px;
    margin-left: 20px;
    padding: 11px 11px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    outline: none;
}

.input-form button:hover {
    opacity: 0.9;
    transition: all 0.3s ease;
}

.spacer {
    width: 100%;
    height: 100px;
}


/* Mobil css */

@media only screen and (max-width: 600px) {
    img {
        width: 100%;
    }

    #logo-try-container {
        display: flex;
        margin: auto;
        margin-top: 80px;
        width: 90%;
        height: 100px;
    }

    #logo-try-container img {
        width: 75%;
    }

    #try-it-button {
        margin-left: auto;
        border: 1px solid black;
    }

    #try-it-button button {
        font-size: 18px;
        border-radius: 20px;
        border: 1px solid hsl(322, 100%, 66%);
        color: hsl(322, 100%, 66%);
        cursor: pointer;
        outline: none;
    }

    #intro-text {
        width: 90%;
        margin: auto;
    }     
}