/* my css default starter code */
body {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* logo and try it button content */

#logo-try-container {
    display: flex;
    margin-top: 80px;
}

#try-it-button {
    margin-left: auto;
    margin-right: 90px;
}

#logo-container {
    margin-left: 90px;
}

#try-it-button button {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    outline: none;
}